<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Montserrat|Quattrocento|Oswald" rel="stylesheet">
    <link href="../static/css/reset.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
</head>
<body>

    <header id="landing-header">
        <div class="container">
            <h1>LemonAid Depression Ressources<br/><small>We're here for you</small></h1>
        </div>
    </header>

    <div id="container">
        <a href="http://www.youtube.com" id="test-link">
            <div id="left">
                <span id="test-label">Take the Test</span>
            </div>
        </a>
        <div id="right">
            When you’re going through a tough time it’s normal to feel down
            for a while, emotions like sadness and grief help make us human.
            But if you’re feeling sad or miserable most of the time over a
            long period of time, you might have depression.

            Take this self-test to help figure out whether you’re showing any
            of the warning signs of depression. This won’t give you a diagnosis
            but it will help you decide the next step.
        </div>
    </div>

    <div class=" container tips-header">
        <h1>We've compiled 6 simple <span>tips</span> to help you get through <span>depression</span></h1>
    </div>

    <div class="container-fluid" id="tips">
        <div class="row">
            <div class="col-md-6 nopadding" style="background: #69D2E7">
                <div class="widget">
                    <div class="widget-header">
                        <h3>Tip 1: Reach out and stay connected</h3>
                    </div>
                    <div class="widget-content">
                        <p>
                            When you’re depressed, the tendency is to withdraw and isolate.
                            Even reaching out to close family members and friends can be tough.
                            Compound that with the feelings of shame and the guilt you may feel
                            at neglecting your relationships.<br/><br/>

                            But social support is absolutely essential to depression recovery.
                            Staying connected to other people and the outside world will make a
                            world of difference in your mood and outlook. And if you don’t feel
                            that you have anyone to turn to, it’s never too late to build new
                            friendships and improve your support network.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 nopadding" style="background: #E0E4CC">
                <div class="widget">
                    <div class="widget-header">
                        <h3>Tip 2: Do things that make you feel good</h3>
                    </div>
                    <div class="widget-content">
                        <p>
                            In order to overcome depression, you have to do things that relax and
                            energize you. This includes following a healthy lifestyle, learning
                            how to better manage stress, setting limits on what you’re able to
                            do, and scheduling fun activities into your day.<br/><br/>

                            While you can’t force yourself to have fun or experience pleasure,
                            you can push yourself to do things, even when you don’t feel like it.
                            You might be surprised at how much better you feel once you’re out in 
                            the world. Even if your depression doesn’t lift immediately, you’ll
                            gradually feel more upbeat and energetic as you make time for fun activities.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 nopadding" style="background: #F38630">
                <div class="widget">
                    <div class="widget-header">
                        <h3>Tip 3: Move vigorously during the day</h3>
                    </div>
                    <div class="widget-content">
                        <p>
                            When you’re depressed, just getting out of bed can seem like a daunting
                            task, let alone working out! But exercise is a powerful depression
                            fighter—and one of the most important tools in your recovery arsenal.
                            Research shows that regular exercise can be as effective as medication
                            for relieving depression symptoms. It also helps prevent relapse once you’re well.<br/><br/>

                            To get the most benefit, aim for at least 30 minutes of exercise per day.
                            This doesn’t have to be all at once—and it’s okay to start small. A 10-minute
                            walk can improve your mood for two hours.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 nopadding" style="background: #A7DBDB">
                <div class="widget">
                    <div class="widget-header">
                        <h3>Tip 4: Eat a healthy, mood-boosting diet</h3>
                    </div>
                    <div class="widget-content">
                        <p>
                            What you eat has a direct impact on the way you feel. Reduce your
                            intake of foods that can adversely affect your brain and mood,
                            such as caffeine, alcohol, trans fats, and foods with high levels
                            of chemical preservatives or hormones (such as certain meats).<br/><br/>

                            <strong>Don’t skip meals.</strong> Going too long between meals can make you feel
                            irritable and tired, so aim to eat something at least every
                            three to four hours.<br/><br/>

                            <strong>Minimize sugar and refined carbs.</strong> You may crave sugary snacks,
                            baked goods, or comfort foods such as pasta or French fries,
                            but these “feel-good” foods quickly lead to a crash in mood and
                            energy. Aim to cut out as much of these foods as possible.<br/><br/>

                            <strong>Boost your B vitamins.</strong> Deficiencies in B vitamins such as folic
                            acid and B-12 can trigger depression. To get more, take a B-complex
                            vitamin supplement or eat more citrus fruit, leafy greens, beans,
                            chicken, and eggs.<br/><br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 nopadding" style="background: #cccccc">
                <div class="widget">
                    <div class="widget-header">
                        <h3>Tip 5: Get a daily dose of sunlight</h3>
                    </div>
                    <div class="widget-content">
                        <p>
                            Sunlight can help boost serotonin levels and improve your mood.
                            Whenever possible, get outside during daylight hours and expose
                            yourself to the sun. Aim for at least 15 minutes of sunlight a day.
                            Remove sunglasses (but never stare directly at the sun) and use
                            sunscreen as needed.
                        </p>

                        <p>
                            Take a walk on your lunch break, have your coffee outside, enjoy an al fresco meal, or spend time gardening.<br/><br/>
                            Double up on the benefits of sunlight by exercising outside.
                            Try hiking, walking in a local park, or playing golf or tennis with a friend<br/><br/>
                            Increase the amount of natural light in your home and workplace by opening blinds and drapes and sitting near windows.<br/><br/>
                            If you live somewhere with little winter sunshine, try using a light therapy box.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 nopadding" style="background: #F2E394">
                <div class="widget">
                    <div class="widget-header">
                        <h3>Tip 6: Challenge negative thinking</h3>
                    </div>
                    <div class="widget-content">
                        <p>
                            Do you feel like you’re powerless or weak? That bad things happen
                            and there’s not much you can do about it? That your situation is
                            hopeless? Depression puts a negative spin on everything, including
                            the way you see yourself and your expectations for the future.<br/><br/>

                            When these types of thoughts overwhelm you, it’s important to
                            remind yourself that this is the depression talking. These irrational,
                            pessimistic attitudes — known as cognitive distortions — aren’t
                            realistic. When you really examine them they don’t hold up. But even
                            so, they can be tough to give up. Just telling yourself to “think
                            positive” won’t cut it. Often, they’re part of a lifelong pattern
                            of thinking that’s become so automatic you’re not even completely
                            aware of it.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="../static/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
