<!DOCTYPE html>
<html>
<head>
  <title>My Test Extension Options</title>
</head>
<body>
<div>
<label>
  <input type="checkbox" id="moodPredict">
  I want to see my mood prediction!
</label>
</div>
<div>
<label>
  <input type="checkbox" id="recommendedContent">
  I want to see my recommended content!
</label>
</div>
<div>
I want my mood updated:
<select id="moodUpdate">
 <option value="daily">daily</option>
 <option value="weekly">weekly</option>
 <option value="Monthly">Monthly</option>
</select>
</div>
<div id="status"></div>
<button id="save">Save</button>

<script src="../static/js/options.js"></script>
</body>
</html>